.deals-container {
  border: 3px solid #ccc;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
}

.title {
  text-align: center;
  position: relative;
  padding-bottom: 10px;
}

.title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 50%;
  transform: translateX(-50%);
  border-bottom: 2px solid #bdbdbd;
}

.deals-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.deals-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  width: calc(33.333% - 20px);
  padding: 10px;
  text-align: center;
}

.deals-item img {
  max-width: 100%;
  height: auto;
}

.deals-item h3 {
  font-size: 1.2em;
  margin: 10px 0;
}

.deals-item a {
  color: black;
  text-decoration: none;
}

.deals-item a:hover {
  text-decoration: underline;
}
