.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr; 
  gap: 20px;
  height: auto;
}

.left-column,
.right-column {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.left-column {
  grid-template-rows: 1fr auto; 
}

.content-row {
  display: flex;
  margin-bottom: 1.5rem;
  height: 50%; 
}

.content-col {
  display: flex;
  flex-direction: column;
}

.content-col > * {
  flex-grow: 1;
}
